.page-item.active .page-link {
    background-color: var(--gp-bg-btn-main) !important;
    border-color: var(--gp-bg-btn-main) !important;
}

.page-link {
    color: var(--gp-bg-btn-main);
}

ul.pagination {
    margin-bottom: 0px;
}