<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': !hasLeft()}">
      <a class="page-link" [routerLink]="[]" (click)="moveLeft()">&laquo;</a>
    </li>

    <ng-container *ngFor="let page of pageList">
      <li class="page-item" [ngClass]="{'active': page === currentPage}">
        <a class="page-link" [routerLink]="[]" (click)="select(page)">{{page}}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="{'disabled': !hasRight()}">
      <a class="page-link" [routerLink]="[]" (click)="moveRight()">&raquo;</a>
    </li>
  </ul>
</nav>