<nav class="mt-2 ms-1">
  <ul class="pagination pagination-sm mb-0">
    <li class="page-item" [ngClass]="{'disabled': !hasLeft()}">
      <a class="page-link" [routerLink]="[]" (click)="moveLeft()"><i class="bi bi-chevron-left"></i></a>
    </li>

    <ng-container *ngFor="let page of pageList">
      <li class="page-item" [ngClass]="{'active': page === currentPage}">
        <a class="page-link" [routerLink]="[]" (click)="select(page)">{{page}}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="{'disabled': !hasRight()}">
      <a class="page-link" [routerLink]="[]" (click)="moveRight()"><i class="bi bi-chevron-right"></i></a>
    </li>
  </ul>
</nav>