<ng-container *ngIf="topping; else loading">
  <form class="card p-3 mt-3" (ngSubmit)="submit()" [formGroup]="form">
    <h3>{{topping.id ? 'Update': 'Create'}} Topping</h3>
    <gp-input label="Name" type="text" [control]="getControl('name')"></gp-input>
    <gp-input label="Price" type="price" [control]="getControl('price')"></gp-input>
    <gp-input label="Type" type="select-item" [control]="getControl('type')" [headers]="toppingHeaders"></gp-input>

    <hr class="my-3">
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" [disabled]="form.invalid"><i class="bi bi-cloud-check-fill"></i> Save</button>
      <button type="button" class="btn btn-danger" (click)="cancel()"><i class="bi bi-x"></i> Cancel</button>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <gp-loader></gp-loader>
</ng-template>