svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: gray;
}

.text-decoration-none {
    color: black;
    font-weight: 400;
}

svg:hover, .text-decoration-none:hover {
    fill: var(--gp-bg-btn-primary);
    color: var(--gp-bg-btn-primary);
}