.modal-header {
    background-color: var(--gp-bg-header);
    border-top: 2px solid var(--gp-border);
    color: var(--gp-text-dark);
}

button {
    border-color: var(--gp-border);
}

.btn-secondary {
    background-color: var(--gp-text-secondary);
}

.btn-secondary:hover {
    border-color: var(--gp-border);
}

.btn-primary {
    background-color: var(--gp-bg-btn-main);
}

.btn-primary:hover {
    border-color: var(--gp-border);
}

.btn-close {
    background-color: var(--gp-text-dark) ;
    border-radius: 50%;
}
