:root {
    --gp-text-primary: #24292e;
    --gp-text-secondary: #717880;
    --gp-text-dark: #ffffff;
    --gp-bg-primary: #f4f8ff;
    --gp-bg-header: #001950;
    --gp-bg-button-card: #00c3ff;
    --gp-bg-button-card-hover: #1cb7ffb0;
    --gp-bg-select-item: #e9ecef;
    --gp-bg-btn-main: #009de6;
    --gp-bg-btn-main-hover: #00aeffce;
    --gp-bg-btn: #ffffff;
    --gp-bg-btn-hover: #f8f9fa;
    --gp-border-select-item: #ced4da;
    --gp-border: #ced4da;
}

html, body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: var(--gp-bg-primary) !important;
    color: var(--gp-text-primary) !important;
    font-weight: 300;
}

.pz1, .pz2, .pz3, .pz4 {
    background-image: url('../src/assets/pizzas.png');
    background-repeat: no-repeat;
    background-position-y: 0px;
    height: 82px;
    width: 82px;
}

.pz1 {
    background-position-x: 0px;
}

.pz2 {
    background-position-x: -80px;
}

.pz3 {
    background-position-x: -160px;
}

.pz4 {
    background-position-x: -240px;
}

.tp1, .tp2, .tp3, .tp4, .tp5, .tp6, .tp7, .tp8, .tp9, .tp10, .tp11, .tp12 {
    background-image: url('../src/assets/toppings.png');
    background-repeat: no-repeat;
    min-width: 50px;
    width: 50px;
    height: 50px;
}

.tp1, .tp2, .tp3, .tp4, .tp5, .tp6 {
    background-position-y: 0px;
}

.tp7, .tp8, .tp9, .tp10, .tp11, .tp12 {
    background-position-y: -50px;
}

.tp1, .tp7 {
    background-position-x: 0px;
}

.tp2, .tp8 {
    background-position-x: -50px;
}

.tp3, .tp9 {
    background-position-x: -100px;
}

.tp4, .tp10 {
    background-position-x: -150px;
}

.tp5, .tp11 {
    background-position-x: -200px;
}

.tp6, .tp12 {
    background-position-x: -250px;
}
