.list-group{
    max-height: 300px;
    overflow-y: auto;
}

.tp1, .tp2, .tp3, .tp4, .tp5, .tp6, .tp7, .tp8, .tp9, .tp10, .tp11, .tp12 {
    background-size: 180px 60px;
    width: 30px !important;
    height: 30px !important;
}

.alert-danger {
    border-radius: .25rem;
    margin-bottom: 0px;
    margin-top: 1rem;
    padding: .5rem;
}