<ng-container *ngIf="pizzaPageable">
    <gp-viewer-items name="Pizzas" [pageable]="pizzaPageable" (openModal)="onOpenModal()"></gp-viewer-items>
    <gp-viewer-page [pageable]="pizzaPageable" (actions)="onActions($event)"></gp-viewer-page>
    <gp-pagination [currentPage]="pizzaPageable.currentPage" [totalPages]="pizzaPageable.totalPages"
        (changedPage)="loadPizzas($event)" *ngIf="pizzaPageable"></gp-pagination>
</ng-container>

<gp-modal title="Add Pizza" (success)="onSuccess()">
    <gp-name-input [(name)]="pizza.name"></gp-name-input>
    <gp-price-input [(price)]="pizza.price"></gp-price-input>

    <gp-selected-input [headers]="pizzas" [(type)]="pizza.type"></gp-selected-input>
    <gp-size-input [(size)]="pizza.size"></gp-size-input>
    <gp-selected-topping-input [(toppings)]="pizza.toppings"></gp-selected-topping-input>
    <p class="alert-danger" *ngIf="error">{{error}}</p>
</gp-modal>