.btn {
    background-color: var(--gp-bg-select-item);
    border-radius: 0.5rem;
}

.selected-item {
    background-color: var(--gp-bg-select-pressed-item);
    border-color: var(--gp-border-select-item);
}

span.position-absolute {
    transform: translate(-65%,-35%);
    color: var(--gp-bg-btn-primary);
}
