.container-item {
    background-color: var(--gp-bg-select-item);
    border-color: var(--gp-border);
}

button.btn {
    padding: 0.25rem 0.35rem;
    border-style: solid;
    border-radius: 15%;
}

i.bi {
    color: var(--gp-bg-button-card);
}
