<div class="mb-2">
    <div class="d-flex flex-wrap justify-content-center">
        <div [ngClass]="{'container-item': item.selected}" *ngFor="let item of items">
            <button class="btn position-relative mx-1" [ngClass]="item.id" (click)="select(item)">
                <span class="position-absolute top-0 start-100 translate-middle" *ngIf="item.selected">
                    <i class="bi bi-check-circle-fill"></i>
                </span>
            </button>
        </div>
    </div>
</div>