div.card {
    border: none;
    border-radius: .75rem;
}

div.card:hover {
    box-shadow: 0 .25rem 0.5rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

sup.badge {
    padding: 0.15rem 0.25rem;
    font-size: 0.65rem;
    font-weight: 300;
}

p.fs-4 {
    letter-spacing: -0.05rem;
}
