<div class="mb-2">
    <div class="card" *ngFor="let item of pageable.items; index as i;">
        <div class="card-body d-flex align-items-center">
            <div class="rounded" [ngClass]="item.type"></div>
            <div class="ms-3 flex-grow-1">
                <h5 class="mb-0">{{item.name}}</h5>
                <span class="subTotal-badge" *ngIf="hasSubItem(item)">{{toStringSubItem(item)}}</span>
                <p class="item-date">
                    <span class="fw-bold">Last update:</span> {{getLastModified(item) | date: 'medium' }}
                </p>
            </div>
            <div class="mx-4 text-end" *ngIf="hasSubItem(item)">
                <p class="pe-1">P. ${{item.price | number: '.2'}}</p>
                <p class="subTotal-badge">T. ${{loadSubTotal(item) | number: '.2'}}</p>
            </div>
            <p class="total-price">${{loadTotal(item) | number: '.2'}}</p>
            <div class="d-flex">
                <button type="button" class="btn btn-white btn-circle ml-2" (click)="edit(i)">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button type="button" class="btn btn-main btn-circle ml-2" (click)="delete(i)">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>