<div class="mb-2">
  <div class="card" *ngFor="let item of pageable.items">
    <div class="card-body d-flex align-items-center">
      <div class="rounded" [ngClass]="item.type"></div>
      <div class="ms-3 flex-grow-1">
        <h5 class="mb-0">
          {{item.name}}
          <sup *ngIf="item.size">{{item.size}}</sup>
        </h5>
        <span class="subTotal-badge" *ngIf="hasSubItem(item)">{{toStringSubItem(item)}}</span>
        <p class="item-date">
          <span class="fw-bold">Last update:</span> {{getLastModified(item) | date: 'medium' }}
        </p>
      </div>
      <div class="mx-4 text-end" *ngIf="hasSubItem(item)">
        <p class="pe-1">P. ${{item.price | number: '.2'}}</p>
        <span class="subTotal-badge">T. ${{loadSubTotal(item) | number: '.2'}}</span>
      </div>
      <p class="total-price">${{loadTotal(item) | number: '.2'}}</p>
      <div class="d-flex">
        <button type="button" class="btn btn-white me-1" (click)="edit(item)" tittle="Edit" title="Edit">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button type="button" class="btn btn-main" (click)="delete(item)" tittle="Delete" title="Delete">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>