<section class="row row-cols-md-2 row-cols-xl-3">
  <div class="px-2 py-1" *ngFor="let item of pageable.items">
    <div class="card p-2" (click)="open(item)">
      <div class="row gx-0 align-items-center">
        <div class="col-3">
          <div class="mx-auto" [ngClass]="item.type"></div>
        </div>

        <div class="col-6 ps-1">
          <h5 class="mb-1">
            {{item.name}}
            <sup class="badge bg-secondary" *ngIf="item.size">{{item.size}}</sup>
          </h5>
          <p *ngIf="hasSubItem(item)" class="small mb-0 text-truncate">{{toStringSubItem(item)}}</p>
          <p class="small mb-0 text-muted">{{getLastModified(item) | date: 'MMM d, y, h:mm a'}}</p>
        </div>

        <div class="col-3 text-center">
          <p class="fs-4 mb-0">${{loadTotal(item) | number: '.2'}}</p>
        </div>
      </div>
    </div>
  </div>
</section>