h1 {
    font-size: 2.75rem;
    margin-bottom: 0rem;
}

.btn-light, .btn-outline-primary, .btn-outline-danger {
    width: 36px;
    height: 36px;
}

.rating-left {
    width: .5rem;
    text-align: end;
    font-size: .8rem;
}

.rating-right {
    width: 2.5rem;
    font-size: .8rem;
}

.btn-outline-warning {
    padding: .1rem .35rem;
    border-radius: .5rem;
    margin-right: .35rem;
}

.total-price {
    background-color: grey;
    padding: 0rem .25rem;
    border-radius: .25rem;
    color: white;
}
